@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css2?family=Caveat&family=Cousine&display=swap);

* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  scroll-padding-top: 100px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Comfortaa', cursive;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.intro {
  margin-top: -80px;
  position: relative;
  height: 1000px;
}

.intro-title-container {
  position: relative;
  margin-top: 30%;
  margin-left: 5%;
}

.intro-title {
  font-size: 50px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px black;
}

.intro-catchphrase {
  margin-top: 7px;
  font-family: 'Caveat', cursive;
  font-size: 270%;
  width: fit-content;
  padding: 7px 21px;
  border-radius: 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(to bottom right, rgb(235, 186, 217), rgb(193, 67, 147));
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  opacity: 1;
  background: linear-gradient(to bottom right, rgb(193, 67, 147), rgb(235, 186, 217));
  display: flex;
  align-items: center;
}

.header-logo {
  position: relative;
  left: 1em;
  width: 80px;
  height: 60px;
  border-radius: 40px;
  background-color: white;
}

.header-nav {
  position: absolute;
  right: 5%;
}

.header-nav-item {
  list-style: none;
  margin: 0 2em;
  font-size: 130%;
  display: inline-block;
}

.header-nav-link {
  color: black;
  text-decoration: none;
  margin: 5px;
  text-shadow: 1px 0 1px black;
}

.about {
  position: relative;
  margin: -300px 15px 0 15px;
  background-color: rgb(249, 212, 235);
  border-radius: 30px;
  border: solid 3px rgb(196, 158, 181);
}

.about-info {
  margin-top: 5em;
  display: grid;
  place-items: center;
  grid-gap: 10px;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-flow: row;
}

.about-info-video {
  width: 520px;
  height: 315px;
  margin: 0 2em 1em 2em;
  border-radius: 50px;
  border: solid 4px rgb(196, 158, 181);
  grid-row: 1/5;
  grid-column: 1;
}

.section-title {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 2em 0;
  padding-bottom: 20px;
  border-radius: 80px;
  border-bottom: solid 3px rgb(196, 158, 181);
}

.section-title#about {
  margin: 0;
  width: 100%;
  grid-row: 1;
  grid-column: 2;
}

.about-info-text {
  font-family: 'Cousine', monospace;
  font-size: 110%;
  font-weight: bold;
  line-height: 30px;
  grid-row: 2/5;
  grid-column: 2;
}

.about-features {
  margin: 2em;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-flow: row;
}

.about-feature {
  grid-row: 1/3;
  height: 200px;
  display: grid;
  place-items: center;
  margin: 1em;
  border-radius: 20px;
  border: solid 2px rgb(196, 158, 181);
  background-color: rgb(239, 208, 227);
}

.about-feature-image {
  width: 80px;
  height: 80px;
  margin: 5px;
  grid-column: 1;
  grid-row: 1;
}

.about-feature-text {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.comments {
  border-radius: 30px;
  background-color: rgb(249, 212, 235);
  margin: 15px 15px 0 15px;
  border: solid 3px rgb(196, 158, 181);
}

.comments-columns {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
}

.comments-column {
  grid-row: 1/2;
  height: 140px;
  margin: 0 2em 2em 2em;
  border: solid 2px rgb(196, 158, 181);
  background-color: rgb(239, 208, 227);
  display: grid;
  place-items: center;
  grid-auto-columns: minmax(0, 1fr);
}

.comments-column-image {
  grid-column: 1;
  grid-row: 1/3;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: solid 2px mediumvioletred;
  margin: 5px;
}

.comments-column-username {
  grid-column: 2/6;
  grid-row: 1;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 0 1px black;
  margin: 5px;
}

.comments-column-text {
  grid-column: 2/6;
  grid-row: 2;
  font-size: 16px;
  font-style: italic;
  margin: 5px 10px;
  padding: 3px;
}

.action-purchase-button {
  width: 80%;
  height: 120px;
  border: solid 3px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0 2em 10%;
  background-color: rgb(235, 186, 217);
  overflow: hidden;
}

.action-purchase-reference {
  font-size: 140%;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  text-shadow: 1px 0 1px black;
}

.footer {
  height: 80px;
  opacity: 1;
  background: linear-gradient(to bottom right, rgb(193, 67, 147), rgb(235, 186, 217));
  display: flex;
  align-items: center;
}

.footer-contact {
  color: black;
  text-decoration: none;
  font-size: 130%;
  position: absolute;
}

.footer-contact#phone {
  left: 5%;
}

.footer-contact#mail {
  right: 5%;
}

.action-purchase-button:hover {
  background-color: rgb(202, 14, 167);
  transition: all ease .3s;
}

@media (max-width: 1232px) {
  .intro-title {
    font-size: 40px;
  }

  .intro-catchphrase {
    font-size: 220%;
  }
}

@media (max-width: 1025px) {
  .intro-title-container {
    margin-top: 50%;
  }

  .about-info-video {
    width: 460px;
  }

  .section-title {
    font-size: 30px;
  }

  .footer-contact {
    font-size: 110%;
  }

}

@media (max-width: 913px) {
  .section-title#about {
    grid-column: 1/3;
  }

  .about-info-video {
    grid-row: 2/5;
  }

  .intro-title {
    font-size: 30px;
  }
}

@media (max-width: 913px) {
  .header-nav-item {
    font-size: 110%;
  }
}

@media (max-width: 821px) {
  .intro-title-container {
    margin-top: 65%;
  }

  .about-info {
    margin-top: 1em;
  }
  
  .about-info-video {
    grid-row: 2/4;
    grid-column: 1;
  }

  .about-info-text {
    grid-row: 4;
    grid-column: 1;
    margin: 0 2em;
    text-align: center;
  }

  .about-feature {
    grid-row: auto;
    grid-column: 1;
  }

  .comments-column {
    grid-row: auto;
    grid-column: 1;
  }

  .footer-contact#phone {
    margin-bottom: 30px;
  }

  .footer-contact#mail {
    margin-top: 30px;
    left: 5%;
  }
}

@media (max-width: 632px) {
  .intro-title-container {
    margin-top: 90%;
  }
}

@media (max-width: 541px) {
  .header-nav-item {
    display: block;
    margin: 10px 0;
  }

  .intro-title {
    font-size: 25px;
  }

  .intro-catchphrase {
    font-size: 140%;
  }

  .about-info {
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 25px;
    overflow-x: hidden;
  }

  .intro-title-container {
    margin-top: 110%;
  }
}

@media (max-width: 415px) {
  .intro-title-container {
    margin-top: 130%;
  }

  .about-info-video {
    width: 300px;
    height: 250px;
  }

  .comments-column {
    margin: 0 10px 2em 10px;
  }

  .footer-contact {
    font-size: 100%;
  }
}

@media (max-width: 391px) {
  .footer-contact {
    font-size: 90%;
  }
}
