@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: lightpink;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.intro {
  margin-top: -80px;
  position: relative;
}

.intro-title {
  position: absolute;
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  margin-top: 20%;
  margin-left: 5%;
  color: rgb(148, 21, 101);
  text-shadow: 1px 1px 2px black;
}

.intro-image {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 1;
  background-color: mediumvioletred;
  display: flex;
  align-items: center;
}

.header-logo {
  position: relative;
  left: 0.2em;
  width: 80px;
  height: 80px;
  border-radius: 30px;
  border: solid 2px rgb(253, 159, 173);
}

.header-nav {
  position: absolute;
  right: 0;
  line-height: 40px;
}

.header-nav-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}

.header-nav-link {
  color: navy;
  text-decoration: none;
  font-size: 110%;
}

.about {
  position: relative;
  margin-top: -300px;
  background-color: lightpink;
  border-radius: 30px;
  border: solid 3px mediumvioletred;
}

.about-info {
  margin-top: 5em;
}

.about-info-video {
  width: 560px;
  height: 315px;
  float: left;
  margin: 0 5em;
  border: solid 5px rgb(253, 159, 173);
  border-left: solid 5px mediumvioletred;
  border-right: solid 8px mediumvioletred;
  border-radius: 10px;
}

.section-title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin: 2em 0;
}

.about-info-text {
  margin-right: 5em;
  font-size: 110%;
  text-align: center;
  overflow: auto;
  border-left: solid 8px mediumvioletred;
  border-right: solid 8px mediumvioletred;
  border-radius: 13px;
}

.about-features {
  margin: 10em 0 1em 14%;
  overflow: auto;
}

.about-feature {
  float: left;
  width: 25%;
  height: 150px;
  margin: 0 1em;
  border-radius: 20px;
  border: inset 5px mediumvioletred;
}

.about-feature-image {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.about-feature-text {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  margin-top: 1em;
  text-align: center;
}

.comments {
  border-radius: 30px;
  border: solid 3px mediumvioletred;
  margin-top: 2px;
}

.comments-columns {
  margin-left: 4%;
  overflow: auto;
}

.comments-column {
  width: 43%;
  height: 90px;
  margin: 0 2em 1em 2em;
  float: left;
  border: inset 4px mediumvioletred;
}

.comments-column-image {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 30px;
  border: solid 2px mediumvioletred;
  margin: 15px 10px 0 15px;
}

.comments-column-username {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin-top: 8px;
  text-shadow: 1px 1px 1px mediumvioletred;
}

.comments-column-text {
  font-size: 16px;
  font-style: italic;
  margin-top: 1em;
  text-align: center;
}

.action-purchase-button {
  width: 80%;
  height: 120px;
  border: solid 3px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0 2em 10%;
  background-color: rgb(93, 8, 62);
}

.action-purchase-reference {
  font-family: 'Comfortaa', cursive;
  font-size: 140%;
  color: red;
  text-decoration: none;
  padding: 50px 38%;
}

.footer {
  height: 80px;
  opacity: 1;
  background-color: mediumvioletred;
  display: flex;
  align-items: center;
}

.footer-contact {
  font-size: 110%;
  color: navy;
  margin: 0 11%;
  text-decoration: none;
}

.action-purchase-button:hover {
  background-color: chartreuse;
  transition: all ease .3s;
}

@media (max-width: 1281px) {
  .about-info-video {
    float: none;
  }

  .about-features {
    margin-left: 5px;
  }

  .about-feature {
    margin: 0 7px;
    float: none;
  }

  .comments-column {
    float: none;
  }
}
